ANTHROPIC_API_KEY="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"
ATLAS_CONNECTION_STRING="mongodb+srv://aryanzackblog:aryan25@foodnest.dlsgv5l.mongodb.net/?retryWrites=true&w=majority&appName=foodnest"
